<!DOCTYPE html>
<html>
  <head>
    <title> 📰 Articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div class="main_header">
    <div class="header_logo"><a href="https://github.com/itzsunny"><img class="git_logo" src="/images/github.svg"></a></div>
    <div>
      <a href="/articles/register"><button class="btn trans_btn register">Register</button></a>
      <a href="/articles/login"><button class="btn trans_btn login">Login</button></a>
    </div>
  </div>
  <body>
    