<% include partials/header %>

<div class="wrapper">
  <form class="form_newuser" action="/articles/<%= comment.articleId %>/comments/<%= comment.id %>" method="post">
    <input
      class="input_value input_register"
      type="text"
      name="content"
      placeholder="update comment"
      value="<%= comment.content %>"
    />
    <input
      type="submit"
      value="update"
      class="submit_newuser btn trans_btn"
    />
  </form>
</div>

<% include partials/footer %>
