<% include partials/header %>
<div class="wrapper">
    <% include partials/darkmode %>
  <form class="form_newuser" action="/users/login" method="post">
    <input
      class="input_value input_register input_dark"
      type="text"
      name="email"
      placeholder="Enter your Email"
    />

    <input
      class="input_value input_register input_dark"
      type="password"
      name="password"
      placeholder="Enter Your Password"
    />

    <input
      type="submit"
      value="Login"
      class="submit_newuser btn trans_btn"
    />
  </form>
</div>

<% include partials/footer %>
